<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SATELITE</title>
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/satelite.css">

</head>
<body>
    <div class="header">
        <img src="../style/ASET/LOGO.png" class="logo" alt="">
        <div class="header-right">
          <a href="../HOMEPAGE.html">Home</a>
          <a href="./SOLARSYSTEM.html">Solar System</a>
          <a  class="active" href="./SATELITE.html">Satelite</a>
          <a href="./REGISTRASION.html">Registration</a>
        </div>
    </div>



    <div class="konten">
        <div class="judulkonten">Satelite</div>
        <img src="../style/ASET/Satelit.jpg" class="satelite" alt="">
        <div class="buatan">Artificial Satellite</div>
        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../style/ASET/sputnik.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Sputnik_1" class="link">https://en.wikipedia.org/wiki/Sputnik</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Sputnik_1" class="judul">SPUTNIK</a>
                    <div class="isi">Sputnik was the first artificial satellite to go into orbit, on October 4, 1957. Sputnik was launched from the Baykonur Cosmodrome, in the Kazakh SSR. The launch of the Soviet Union's Sputnik I at the height of the Cold War shocked the Western world, and caused the United States to start the Space Race.</div>
                </div>
            </div>    
        </div>

        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../style/ASET/explorer1.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Explorer_1" class="link">https://en.wikipedia.org/wiki/EXPLORER</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Explorer_1" class="judul">EXPLORER</a>
                    <div class="isi">Explorer (Alpha 1 1958) was the United States' first earth satellite, launched as part of participation in the International Year of Geophysics. This mission followed Earth's first two satellites the previous year, the Soviet Union's Sputnik 1 and 2, the start of the Cold War Space Series between the two countries.</div>
                </div>
            </div>    
        </div>

        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../style/ASET/PALAPA.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Palapa-D" class="link">https://en.wikipedia.org/wiki/Palapa</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Palapa-D" class="judul">PALAPA</a>
                    <div class="isi">The Palapa Satellite is an Indonesian communications satellite owned and operated by PT Indosat Tbk and launched on August 31, 2009 at 16:28 WIB at Xichang Satellite Launch Center (XSLC) using a Long March (Chang Zheng) 3B rocket. This satellite was made by Thales Alenia Space, France.</div>
                </div>
            </div>    
        </div>

        <div class="buatan">Natural Satellite</div>
        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../style/ASET/MOOON.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Moon" class="link">https://en.wikipedia.org/wiki/Moon</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Moon" class="judul">MOON</a>
                    <div class="isi">The Moon is Earth's only natural satellite and is the fifth largest satellite in the Solar System. The Moon is also the largest natural satellite in the Solar System by the size of the planet it orbits, with a diameter of 27%, a density of 60%, and a mass of 1⁄81 (1.23%) that of Earth.</div>
                </div>
            </div>    
        </div>

        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../style/ASET/PHOBOS.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Phobos_(moon)" class="link">https://en.wikipedia.org/wiki/Phobos</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Phobos_(moon)" class="judul">PHOBOS</a>
                    <div class="isi">Phobos is one of the two natural satellites of the planet Mars. This satellite orbits Mars at a radius of 6,000 km. Currently, no natural satellite in the solar system orbits its parent planet this close.</div>
                </div>
            </div>    
        </div>
        
        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../style/ASET/Deimos.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Deimos_(moon)" class="link">https://en.wikipedia.org/wiki/Deimos</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Deimos_(moon)" class="judul">DEIMOS</a>
                    <div class="isi">Deimos is a natural satellite smaller than Phobos, about 15 km in diameter. However, its orbit is farther from Mars (about 20,000 km) and tends to be stable, not as close to Mars as Fobos' orbit. Deimos orbits Mars with a period of 30 hours. Deimos has a flatter surface than Phobos.</div>
                </div>
            </div>    
        </div>

    </div>


    <div class="footer">
        <div class="kotakfooter">
            <img src="../style/ASET/LOGO.png" class="imglogofooter" alt="">
            <div class="footerinfo">
                <div class="judulfooter">CUSTOMER SERVICE</div>
                <div class="isifooter">FAQ</div>
                <div class="isifooter">CONTACT US</div>
            </div>
            <div class="footerinfo">
                <div class="judulfooter">ABOUT XSPACE</div>
                <div class="isifooter">ABOUT US</div>
                <div class="isifooter">DONATION</div>
            </div>
            <div class="footerinfo">
                <div class="judulfooter">TERM</div>
                <div class="isifooter">TERMS OF USE</div>
                <div class="isifooter">PRIVACY</div>
                <div class="isifooter">COOKIE NOTICE</div>
            </div>
        </div>
        <div class="COPYRIGHT">© 2022, XSpace. All rights reserved.</div>
    </div>
</body>
</html>