<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOLARSYSTEM</title>
    <link rel="stylesheet" href="../style/global.css">
    <link rel="stylesheet" href="../style/solarsystem.css">
</head>
<body>
    <div class="header">
        <img src="../style/ASET/LOGO.png" class="logo" alt="">
        <div class="header-right">
          <a href="../HOMEPAGE.html">Home</a>
          <a class="active" href="./SOLARSYSTEM.html">Solar System</a>
          <a href="./SATELITE.html">Satelite</a>
          <a href="./REGISTRASION.html">Registration</a>
        </div>
    </div>


    <div class="konten">
        <div class="judulkonten">Solar System</div>
        <img src="../style/ASET/SOLAR.jpg" class="SOLAR" alt="">
        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../style/ASET/MATAHARI.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Sun" class="link">https://en.wikipedia.org/wiki/Sun</a>

                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Sun" class="judul">SUN</a>
                    <div class="isi">The sun or the sun is the star at the center of the solar system. It is almost spherical in shape and consists of hot plasma mixed with a magnetic field. Its diameter is about 1,392,684 km, about 109 times the diameter of Earth, and its mass (about 2×1030 kilograms, 330,000 times the mass of Earth) represents approximately 99.86% of the total mass of the solar system. The sun is the largest celestial body in the Milky Way galaxy, which is even 10 times the largest planet in the solar system, Jupiter.</div>
                </div>
            </div>    
        </div>

        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../style/ASET/MERKURIUS.jpg" 
                    class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Mercury_(planet)" class="link">https://en.wikipedia.org/wiki/Mercury</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Mercury_(planet)" class="judul">MERCURY</a>
                    <div class="isi">Mercury is the smallest planet in the Solar System and the closest to the Sun. The period of revolution of this planet is the shortest of all the planets in the Solar System, which is 87.79 days.</div>
                </div>
            </div>    
        </div>

        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../style/ASET/VENUS.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Venus" class="link">https://en.wikipedia.org/wiki/Venus</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Venus" class="judul">Venus</a>
                    <div class="isi">Venus is the second closest planet to the Sun after Mercury. This planet orbits the Sun for 224.7 Earth days. Venus has no natural satellites and is named after the Roman goddess of love and beauty. After the Moon, this planet is the brightest natural object in the night sky. The maximum brightness of the planet can be seen immediately before sunrise or after sunset, so it is called the Morning Star or Dusk Star.</div>
                </div>
            </div>    
        </div>

        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../style/ASET/BUMI.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Earth" class="link">https://en.wikipedia.org/wiki/Earth</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Earth" class="judul">EARTH</a>
                    <div class="isi">Earth is the third planet from the Sun which is the densest and fifth largest of the eight planets in the Solar System. Earth is also the largest of the four terrestrial planets in the Solar System. Earth is sometimes referred to as the world or the Blue Planet.</div>
                </div>
            </div>    
        </div>

        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../style/ASET/MARS.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Mars" class="link">https://en.wikipedia.org/wiki/Mars</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Mars" class="judul">MARS</a>
                    <div class="isi">Mars is the fourth closest planet to the Sun. It is named after the Roman god of war, Mars. This planet is often dubbed the "red planet" because it looks reddish from afar. This is due to the presence of iron(III) oxide on the surface of the planet Mars.</div>
                </div>
            </div>    
        </div>

        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../style/ASET/JUPITEr.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Jupiter" class="link">https://en.wikipedia.org/wiki/Jupiter</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Jupiter" class="judul">JUPITER</a>
                    <div class="isi">Jupiter or Jupiter is the fifth closest planet from the Sun after Mercury, Venus, Earth and Mars. This planet is also the largest planet in the Solar System. Jupiter is a gas giant with a mass one thousandth the mass of the Sun and two and a half times the mass of all the other planets in the Solar System.</div>
                </div>
            </div>    
        </div>

        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../style/ASET/SATURNUS.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Saturn" class="link">https://en.wikipedia.org/wiki/Saturn</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Saturn" class="judul">SATURN</a>
                    <div class="isi">Saturn is the sixth planet from the Sun and is the second largest planet in the Solar System after Jupiter. Saturn is also a gas giant that has an average radius of about 9 times the average radius of Earth. Saturn's average density is only 1/8 that of Earth's, but with a volume larger than Earth's, Saturn's mass is recorded as 95 times that of Earth. Saturn is named after the god of welfare and agriculture in Greek mythology; the astronomical symbol (♄) represents the sickle used by the god.</div>
                </div>
            </div>    
        </div>

        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../style/ASET/URANUS.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Uranus" class="link">https://en.wikipedia.org/wiki/Uranus</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Uranus" class="judul">URANUS</a>
                    <div class="isi">Uranus is the seventh planet from the Sun. Uranus is a planet that has the third largest radius and the fourth largest mass in the Solar System. Uranus is also the only planet whose name is derived from a character in Greek mythology, from the Latinized version of the name of the Greek sky god Ouranos.</div>
                </div>
            </div>    
        </div>
        
        <div class="kotakgede">
            <div class="kotakkonten">
                <div class="kotakgambar">
                    <img src="../style/ASET/NEPTUNUS.jpg" class="gambarkonten" alt="">
                    <a href="https://en.wikipedia.org/wiki/Neptune" class="link">https://en.wikipedia.org/wiki/Neptune</a>
                </div>
                <div class="kotakdesc">
                    <a href="https://en.wikipedia.org/wiki/Neptune" class="judul">NEPTUNE</a>
                    <div class="isi">Neptune is the farthest planet (eighth) when viewed from the Sun. The planet is named after the Roman god of the seas. Neptune is the fourth largest planet by diameter (49,530 km) and the third largest by mass. Neptune's mass is recorded to be 17 times greater than Earth's, and slightly smaller than Uranus's.</div>
                </div>
            </div>    
        </div>


    </div>


    <div class="footer">
        <div class="kotakfooter">
            <img src="../style/ASET/LOGO.png" class="imglogofooter" alt="">
            <div class="footerinfo">
                <div class="judulfooter">CUSTOMER SERVICE</div>
                <div class="isifooter">FAQ</div>
                <div class="isifooter">CONTACT US</div>
            </div>
            <div class="footerinfo">
                <div class="judulfooter">ABOUT XSPACE</div>
                <div class="isifooter">ABOUT US</div>
                <div class="isifooter">DONATION</div>
            </div>
            <div class="footerinfo">
                <div class="judulfooter">TERM</div>
                <div class="isifooter">TERMS OF USE</div>
                <div class="isifooter">PRIVACY</div>
                <div class="isifooter">COOKIE NOTICE</div>
            </div>
        </div>
        <div class="COPYRIGHT">© 2022, XSpace. All rights reserved.</div>
    </div>

</body>
</html>